# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
env/
venv/

# Django
db.sqlite3
*.log
staticfiles/
*.sqlite3
*.log
staticfiles/
/staticfiles/
/mediafiles/

# Environment variables
.env

# VS Code
.vscode/
.vscode/

# OS files
.DS_Store
